.app {
  padding: 3vw 5vw;
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.errorMessage {
  font-size: 24px;
  color: #fff;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.conditionsText {
  font-size: 34px;
  font-weight: 500;
  color: #fff;
}

.cityText {
  font-size: 18px;
  color: #fff;
}

.dateText {
  font-size: 16px;
  color: #fff;
}

.timeText {
  font-size: 16px;
  color: #fff;
}

.tempText {
  font-size: 52px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.weatherIcon {
  width: 8vw;
  height: 8vw;
}

.searchBox {
  height: 30px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
  margin-top: 15px;
  padding: 0px 12px;
}

.searchBoxInput {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  resize: none;
  font-size: 14px;
  font-weight: 500;
}

.searchBoxInput::placeholder {
  color: #fff;
}

.searchBoxInput:focus::placeholder {
  color: transparent;
}

.searchIcon {
  height: 18px;
  min-width: 18px;
  background-image: url("../assets/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}