.app {
  padding: 3vw 2vw 3vw 5vw;
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.errorMessage {
  font-size: 24px;
  color: #fff;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7vw;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  width: 10vw;
  row-gap: 15px;
}

.forecastContainer {
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory;  
  gap: 90px;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.forecastCard {
  min-width: 120px; 
  background-color: transparent; 
  color: white;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  
}

.forecastDay {
  font-size: 18px;
  margin-bottom: 10px;
}

.forecastTemp {
  font-size: 24px;
  font-weight: bold;
}

.forecastIcon {
  margin-top: 10px;
  width: 35px;
  height: 35px;
}

.forecastContainer::-webkit-scrollbar {
  display: none;
}