.conditionsText {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}

.cityText {
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
}

.dateText {
  font-size: 14px;
  color: #fff;
}

.timeText {
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
}

.tempText {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.weatherIcon {
  width: 6vw;
  height: 6vw;
}

.searchBox {
  height: 30px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
  margin-top: 20px;
  padding: 0px 12px;
}

.searchBoxInput {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  resize: none;
  font-size: 14px;
  font-weight: 500;
}

.searchBoxInput::placeholder {
  color: #fff;
}

.searchBoxInput:focus::placeholder {
  color: transparent;
}

.searchIcon {
  height: 18px;
  min-width: 18px;
  background-image: url("../assets/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}